.container {
    display: flex;
    overflow-x: hidden;
}

.containerHeader {
    position: relative;
    width: 100%;
    background-color: rgba(var(--base-light));
    padding: 0px 40px 20px 40px;
}

.title {
    font-size: var(--display-small-fx);
    color: rgba(var(--base-primary-strong));
}

.line {
    margin-top: -10px;
    border: 2px solid rgba(var(--base-primary-strong))
}