.containerExpanded {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 300px;
    height: 100vh;
    border-right: 1px solid black;
    background-color: rgba(var(--base-primary-strong));
    transition: 0.5s;
}

.containerCollapsed {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 80px;
    height: 100vh;
    border-right: 1px solid black;
    background-color: rgba(var(--base-primary-strong));
    transition: 0.5s;
}

.divUserExpanded {
    display: flex;
    position: relative;
    gap: 20px;
    padding: 20px;
    align-items: center;
}

.divUserCollapsed {
    display: flex;
    position: relative;
    padding: 20px 10px 5px 10px;
    align-items: center;
}

.divButtonClose {
    position: absolute;
    top: 10px;
    right: -35px;
}

.buttonClose {
    width: 60px;
}

.iconUserExpanded {
    width: 80px;
    transition: 0.5s;
}

.iconUserCollapsed {
    width: 40px;
    transition: 0.5s;
}

.divTextUserCollapsed {
    display:none;
}

.lineUser {
    width: 80%;
    border: 1px solid rgba(var(--base-light));
    margin: -8px 0;
}

.divLineExpanded {
    padding: 0px 20px
}

.divLineCollapsed {
    padding: 0px 10px
}

.bodyExpanded {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px 20px;
    text-decoration: none;
}

.bodyCollapsed {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    text-decoration: none;
}

.paragraphCollapsed {
    display: none;
}

.iconMapExpanded {
    width: 40px;
    transition: 0.5s;
}

.iconMapCollapsed {
    width: 30px;
    transition: 0.5s;
}

.paragraphMap {
    color: rgba(var(--base-light));
    font-size: var(--paragraph-large-fx);
}

.divButtonLoggoutExpanded {
    position: absolute;
    bottom: 0;
    padding: 20px;
}

.divButtonLoggoutCollapsed {
    position: absolute;
    bottom: 0;
    padding: 10px;
}

.buttonLoggoutExpanded {
    background-color: rgba(var(--base-light));
    height: 45px;
    width: 240px;
    border-radius: 5px;
    border: none;
    color: rgba(var(--base-primary-strong));
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    gap:85px;
    align-items: center;
    transition: 0.2s;
}

.buttonLoggoutCollapsed {
    background-color: rgba(var(--base-light));
    height: 40px;
    width: 50px;
    border-radius: 5px;
    border: none;
    color: rgba(var(--base-primary-strong));
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

.buttonLoggoutExpanded:hover, .buttonLoggoutCollapsed:hover {
    background: rgba(var(--base-secondary-weak), 0.9);
}

.iconMapButtonExpanded {
    width: 30px;
}

.iconMapButtonCollapsed {
    width: 25px;
}